<h4>Hello {{user.username}},</h4>
<h4>Follow the link below to reset your password:</h4>
<a href="https://127.0.0.1:{{config.port}}{{config.portal.path}}?tert={{token}}" target="_blank">Reset Password</a>
<br>
</br>
<td style="line-height:1.2">
  <span style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:16px;color:#202020">Reset Triggered From</span>
  <br>
  <span style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#727272">
    {{ip.query}}
    <br>
    {{ip.city}}, {{ip.regionName}}, {{ip.country}}
    <br>
  </span>
</td>
<br>
<p>If you do not recognize where this reset came from or you did not try to reset your password, please contact support.</p>
<br>
<b>*Do not reply to this email.*</b>
